body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

h3,
.header{
    display: flex;
    justify-content: center;
}


.yourMove,
.computerMove{
    justify-content: flex-start;
}

select{
    margin: auto auto auto 8px;
}
.interFaceBox{
    background-color: lightgrey;
    width: 416px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px;
    margin: 20px auto auto auto;
}

.runningScore{
    background-color: lightgrey;
    width: 416px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px;
    
    margin: auto;
    margin-top: 200px;
}

.playButtons{
    display: flex;
    margin-bottom: 20px;
}

button{
    font-weight: 700;
    flex-direction: column;
    width: 100px;
    background-color:skyblue;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    text-align: center;
}

select{
    width: 200px;
    margin: 15px 100px;
    padding: 5px;
}
.counter{
    width: 200px;
    margin: 0px 100px;
    padding: 5px;
    font-size: 16px;
} 
.gameResult{
    width: 200px;
    margin: 0px 100px;
    padding: 5px;
    font-size: 24px;
} 

.moveDeclaration{
    width: 200px;
    margin: 0px 100px;
    padding: 5px;
    font-size: 18px;
    color: brown;
} 

.win{
    transform: scale(1.1);
    border-color: #2fff00;
    box-shadow: 0 0 1rem #2fff00;
    background-color: green;
}

.lose{
    transform: scale(1.1);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000;
    background-color: red;
}

.tie{
    transform: scale(1.1);
    border-color: #fff200;
    box-shadow: 0 0 1rem #fff200;
    background-color: yellow;
}

.gameCounter{
    font-weight: 700;
    width: 100px;
    background-color:skyblue;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid lightgrey;

    
}

.container{
    font-weight: 700;
    width: 416px;
    height: 100px;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 8px;
}

.content{
    font-weight: 700;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    margin-top: 120px;
    height: 30px;

}

.endContent{
    font-size: 78px;
    color: red;
    text-align: center;
}
.resultBox{
    display: flex;
    flex-wrap: wrap;
    width: 416px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px;
    margin: 20px auto auto auto;
    justify-content: space-around;
}
